// Your styles go here
@use 'sass:color';
@use 'variables' as var;
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// navbar styling


 @media screen and (min-width: 768px) {
    .home-navigation{

        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
            
    }

    .nav-link {
        color: var.$primary;

        &:hover {
            color: var.$white;
        }

        &:active{
            color: var.$primary;
        }
    }

    .nav-pills .nav-link.active {
        color: var.$body;
        background-color: var.$secondary;
    }

    .intro-section {
        background-color: rgba(255, 255, 255, 0.7);
        color: var.$body;
    }


    .navbar {
        background-color: var.$body;
    }

    .navbar-toggler {
        color: var.$primary;
        background-color: var.$primary;
    }

    button {
        color: var.$primary;
    }

    .navbar-toggler-icon{
        color: var.$primary;
        background-color: var.$primary;
    }

    // cover home page styling 

    .cover-photo {
        background-image: url("../images/jonathan-greenaway-Tv1L6bskVUA-unsplash.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
    }

    body {
        background-color: var.$body;
        color: var.$text-body-color;
    }

    // footer styling 

    footer {
        color: var.$primary;
        background-color: var.$body;
    }

    // form styling 

    form {
        background-color: var.$form-background;
        color: var.$white;

        span {
            color: var.$body;
        }
        
    }

    .send-message {
        background-color: var.$primary;

        &:hover {
            background-color: var.$white;
            color: var.$body;
        }
    }

    // pre-order stylin 
    .pre-order {
        background-color: var.$primary;

        &:hover {
            background-color: var.$body;
             color: var.$secondary;
        }
    }




    // hero styling 
    #jumbo-hero {
        background-image: url("../images/galxrax-rax-oGAf4jsC0Fw-unsplash.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        width: 100%;
       
    }

    // about me 
    .selfie {
        border-radius: 50%;
        width: 40vh;
        height: 40vh;
    }

    // @media screen and (min-width: 768px) {
    // .selfie{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
        
    // }
            
    // }


    // game descriptions 
    #descriptions {
        color: var.$secondary;
    }



    